body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background: rgb(53,92,125);
    background: linear-gradient(90deg, rgba(53,92,125,1) 0%, rgba(108,91,123,1) 35%, rgba(192,108,132,1) 60%, rgba(246,114,128,1) 74%, rgba(248,177,149,1) 90%);
}

.calculatorBody {
    width: 300px;
    height: 400px;
    background: rgba(53,92,125,1);
    border-style: solid;
    border-color: rgba(32, 48, 94, 0.2);
    border-width: medium;
    border-radius: 30px;
    box-shadow: 20px 20px 0px 10px rgba(248,177,149,0.3), 50px 50px 5px 10px rgba(32, 48, 94, 0.3);
}

.displayField {
    background-color: rgb(154, 161, 167);
    width: auto;
    height: auto;
    margin: 40px 15px;
    padding: 0.3em;
    box-shadow: inset 0px 0px 5px 0px rgba(32, 48, 94, 1);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2em;
    color: rgb(70, 70, 70);
    text-align: right;
}

.buttons {
    width: 40px;
    height: 30px;
    background: rgba(192,108,132,1);
    color: #fbfbfb;
    border-radius: 5px;
    border-color: rgba(192,108,132,0.5);
    font-family: "Karla", Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.buttons:hover {
    background-color: rgba(104, 58, 71, 1);
    border-color: rgb(61, 34, 42);
}