body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background: rgb(53,92,125);
    background: linear-gradient(90deg, rgba(53,92,125,1) 0%, rgba(108,91,123,1) 35%, rgba(192,108,132,1) 60%, rgba(246,114,128,1) 74%, rgba(248,177,149,1) 90%);
}

.calculatorBody {
    width: 300px;
    height: 400px;
    background: rgba(53,92,125,1);
    border-style: solid;
    border-color: rgba(32, 48, 94, 0.2);
    border-width: medium;
    border-radius: 30px;
    box-shadow: 20px 20px 0px 10px rgba(248,177,149,0.3), 50px 50px 5px 10px rgba(32, 48, 94, 0.3);
}

.displayField {
    background-color: rgb(154, 161, 167);
    width: auto;
    height: 1.3em;
    margin: 40px 15px;
    padding: 0.3em;
    box-shadow: inset 0px 0px 5px 0px rgba(32, 48, 94, 1);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2em;
    color: rgb(70, 70, 70);
    text-align: right;
    overflow: clip;
}

.smallerDisplay {
    font-size: 0.4em;
}

.buttons:hover {
    background-color: rgb(220 154 103);
    border-color: rgb(220 154 103);
}

.buttons {
    width: auto;
    height: auto;
    background: inherit;
    background-image: linear-gradient(90deg, rgb(242 193 156) 0%, rgb(234 167 116 / 90%) 50%);
    color: #fbfbfb;
    border-radius: 5px;
    border-color: rgb(242 193 156);
    font-family: "Karla", Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.buttons-field {
    display: grid;
    grid-template-columns: repeat(3, 45px) 1fr 1fr;
    grid-template-rows: repeat(4, 45px);
    grid-gap: 10px;
    margin: 15px;
    height: auto;
    background: ;
}

.em-buttons {
    grid-column: 4 / span 2;
}

.number-buttons:hover {
    background-image: none;
    background-color: rgb(126 158 183);
    border-color: rgb(106 131 156);
}

.number-buttons {
    background-color: inherit;
    background-image: linear-gradient(90deg, rgb(123 149 170) 0%, rgb(110 135 164) 50%);
    border-color: rgb(144 162 182);
}